<a href="https://colab.research.google.com/github/ifshita123/creditcardfraudprediction/blob/main/Creditcardfraudprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
19893,30631,-0.377215,0.973528,1.647077,0.732439,0.024728,-0.541379,0.828488,-0.060740,-0.725148,...,0.228443,0.685913,-0.107687,0.631740,0.126366,-0.327633,0.056522,0.033139,29.90,0.0
19894,30631,1.209281,0.078793,0.061820,0.593730,-0.235772,-0.448524,-0.141196,0.089236,0.411825,...,-0.302369,-0.984051,0.130401,-0.390756,0.105615,0.152881,-0.025292,0.021130,16.00,0.0
19895,30632,1.286596,-1.450336,0.814530,-1.308949,-2.055209,-0.592064,-1.317286,0.032386,-1.720017,...,0.040743,0.262534,-0.045112,0.515660,0.218606,-0.138794,0.026395,0.030885,92.00,0.0
19896,30633,-0.488090,1.018448,0.670593,-0.245462,0.828347,-0.233102,0.662586,-0.040028,-0.279439,...,-0.344859,-0.902035,-0.050171,-1.060827,0.062221,0.150428,0.130266,0.067290,1.99,0.0
19897,30633,-2.609841,2.479357,0.763844,0.044509,-0.645716,0.762867,-1.626415,-7.617854,1.399746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19898 entries, 0 to 19897
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    19898 non-null  int64
 1   V1      19898 non-null  float64
 2   V2      19898 non-null  float64
 3   V3      19898 non-null  float64
 4   V4      19898 non-null  float64
 5   V5      19898 non-null  float64
 6   V6      19898 non-null  float64
 7   V7      19898 non-null  float64
 8   V8      19898 non-null  float64
 9   V9      19898 non-null  float64
 10  V10     19898 non-null  float64
 11  V11     19897 non-null  float64
 12  V12     19897 non-null  float64
 13  V13     19897 non-null  float64
 14  V14     19897 non-null  float64
 15  V15     19897 non-null  float64
 16  V16     19897 non-null  float64
 17  V17     19897 non-null  float64
 18  V18     19897 non-null  float64
 19  V19     19897 non-null  float64
 20  V20     19897 non-null  float64
 21  V21     19897 non-null  float64
 22  V22     19897 non-null  float64
 23  V23     19897 non-null  float64
 24  V24     19897 non-null  float64
 25  V25     19897 non-null  float64
 26  V26     19897 non-null  float64
 27  V27     19897 non-null  float64
 28  V28     19897 non-null  float64
 29  Amount  19897 non-null  float64
 30  Class   19897 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.7 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    19812
1.0       85
Name: Class, dtype: int64

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(19812, 31)
(85, 31)

In [10]:
# statistical measures of the data
legit.Amount.describe()

count    19812.000000
mean        70.169855
std        205.091118
min          0.000000
25%          5.900000
50%         16.070000
75%         59.950000
max       7879.420000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      85.000000
mean       93.869647
std       261.736641
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,15483.312841,-0.207233,0.215159,0.803126,0.250998,-0.137392,0.104262,-0.108931,0.003328,0.652123,...,0.036041,-0.050458,-0.145393,-0.036602,0.011905,0.121909,0.032495,0.010624,0.006940,70.169855
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492 **bold text**

In [13]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
11687,19948,1.084680,0.218006,0.985756,1.299543,-0.297970,0.227297,-0.433789,0.087603,1.175697,...,0.078948,0.515917,-0.076230,-0.021615,0.416808,-0.310723,0.029299,0.016071,24.00,0.0
15771,27209,-2.103143,1.825715,0.503786,-1.327231,-1.355524,-1.085423,-0.643340,1.443569,-0.272685,...,0.037820,-0.188489,0.131957,0.533114,-0.258046,0.708656,0.083425,0.097757,0.77,0.0
13063,22927,-0.016943,-2.624186,0.406649,-0.589685,-1.936023,0.056257,-0.270856,0.123012,3.307092,...,0.212203,-0.329154,-0.473930,0.191902,-0.059160,-0.132782,-0.093310,0.108940,613.91,0.0
14102,25093,1.456747,-0.960979,0.369912,-1.434469,-1.021353,-0.093491,-1.060832,-0.147100,-0.876231,...,-0.577570,-1.157657,0.062127,-0.628360,0.194671,-0.489728,0.001836,0.011425,52.00,0.0
12816,22490,1.209774,-0.267083,0.942072,-0.714182,-0.850827,-0.240866,-0.701911,0.002112,2.736206,...,-0.116142,0.145603,-0.096898,-0.009439,0.516185,-0.726363,0.066302,0.019134,11.85,0.0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17480,28755,-30.552380,16.713389,-31.103685,6.534984,-22.105532,-4.977692,-20.371514,20.007208,-3.565738,...,1.816520,-2.288686,-1.460544,0.183179,2.208209,-0.208824,1.232636,0.356660,99.99,1.0
18466,29526,1.102804,2.829168,-3.932870,4.707691,2.937967,-1.800904,1.672734,-0.300240,-2.783011,...,-0.106994,-0.250050,-0.521627,-0.448950,1.291646,0.516327,0.009146,0.153318,0.68,1.0
18472,29531,-1.060676,2.608579,-2.971679,4.360089,3.738853,-2.728395,1.987616,-0.357345,-2.757535,...,-0.063168,-0.207385,-0.183261,-0.103679,0.896178,0.407387,-0.130918,0.192177,0.68,1.0
18773,29753,0.269614,3.549755,-5.810353,5.809370,1.538808,-2.269219,-0.824203,0.351070,-3.759059,...,0.371121,-0.322290,-0.549856,-0.520629,1.378210,0.564714,0.553255,0.402400,0.68,1.0
18809,29785,0.923764,0.344048,-2.880004,1.721680,-3.019565,-0.639736,-3.801325,1.299096,0.864065,...,0.899931,1.481271,0.725266,0.176960,-1.815638,-0.536517,0.489035,-0.049729,30.30,1.0

In [18]:
new_dataset['Class'].value_counts()

0.0    492
1.0     85
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,16423.075203,-0.307637,0.289426,0.833604,0.257350,-0.081266,0.112456,-0.104666,0.013185,0.603436,...,0.061584,-0.085428,-0.107900,-0.033937,-0.014837,0.114584,0.025422,0.021909,0.016810,60.565671
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

Splitting the data into Features & Targets

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [21]:
print(X)

        Time         V1         V2         V3        V4         V5        V6  \
11687  19948   1.084680   0.218006   0.985756  1.299543  -0.297970  0.227297
15771  27209  -2.103143   1.825715   0.503786 -1.327231  -1.355524 -1.085423
13063  22927  -0.016943  -2.624186   0.406649 -0.589685  -1.936023  0.056257
14102  25093   1.456747  -0.960979   0.369912 -1.434469  -1.021353 -0.093491
12816  22490   1.209774  -0.267083   0.942072 -0.714182  -0.850827 -0.240866
...      ...        ...        ...        ...       ...        ...       ...
17480  28755 -30.552380  16.713389 -31.103685  6.534984 -22.105532 -4.977692
18466  29526   1.102804   2.829168  -3.932870  4.707691   2.937967 -1.800904
18472  29531  -1.060676   2.608579  -2.971679  4.360089   3.738853 -2.728395
18773  29753   0.269614   3.549755  -5.810353  5.809370   1.538808 -2.269219
18809  29785   0.923764   0.344048  -2.880004  1.721680  -3.019565 -0.639736

              V7         V8        V9  ...       V20       V21       V22  \
11687  -0.433789   0.087603  1.175697  ... -0.111050  0.078948  0.515917
15771  -0.643340   1.443569 -0.272685  ... -0.101831  0.037820 -0.188489
13063  -0.270856   0.123012  3.307092  ...  0.946181  0.212203 -0.329154
14102  -1.060832  -0.147100 -0.876231  ... -0.200325 -0.577570 -1.157657
12816  -0.701911   0.002112  2.736206  ... -0.069496 -0.116142  0.145603
...          ...        ...       ...  ...       ...       ...       ...
17480 -20.371514  20.007208 -3.565738  ...  1.733644  1.816520 -2.288686
18466   1.672734  -0.300240 -2.783011  ... -0.030880 -0.106994 -0.250050
18472   1.987616  -0.357345 -2.757535  ... -0.089062 -0.063168 -0.207385
18773  -0.824203   0.351070 -3.759059  ...  0.310525  0.371121 -0.322290
18809  -3.801325   1.299096  0.864065  ...  0.170872  0.899931  1.481271

            V23       V24       V25       V26       V27       V28  Amount
11687 -0.076230 -0.021615  0.416808 -0.310723  0.029299  0.016071   24.00
15771  0.131957  0.533114 -0.258046  0.708656  0.083425  0.097757    0.77
13063 -0.473930  0.191902 -0.059160 -0.132782 -0.093310  0.108940  613.91
14102  0.062127 -0.628360  0.194671 -0.489728  0.001836  0.011425   52.00
12816 -0.096898 -0.009439  0.516185 -0.726363  0.066302  0.019134   11.85
...         ...       ...       ...       ...       ...       ...     ...
17480 -1.460544  0.183179  2.208209 -0.208824  1.232636  0.356660   99.99
18466 -0.521627 -0.448950  1.291646  0.516327  0.009146  0.153318    0.68
18472 -0.183261 -0.103679  0.896178  0.407387 -0.130918  0.192177    0.68
18773 -0.549856 -0.520629  1.378210  0.564714  0.553255  0.402400    0.68
18809  0.725266  0.176960 -1.815638 -0.536517  0.489035 -0.049729   30.30

[577 rows x 30 columns]

In [22]:
print(Y)

11687    0.0
15771    0.0
13063    0.0
14102    0.0
12816    0.0
        ...
17480    1.0
18466    1.0
18472    1.0
18773    1.0
18809    1.0
Name: Class, Length: 577, dtype: float64

Split the data into Training data & Testing Data

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(577, 30) (461, 30) (116, 30)

Model Training

Logistic Regression

In [25]:
model = LogisticRegression()

In [26]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [27]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [28]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9783080260303688

In [29]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9310344827586207